# IDE Dosyaları
.idea/
.vscode/

# Python Derleme ve Ortam Dosyaları
__pycache__/
*.pyc
.venv/

# Büyük Veri Dosyaları
*.csv
!Student1.csv  # Sadece orijinal transkript kalsın istiyorsan başına ! koyabilirsin